html, body {
	height: 100%;
}

html, body, #wrapper {
	margin:0;
	padding:0;
}

#wrapper {
	position:relative;
	width:100%;
	height:100%;
	background-color:#242424;
}

.worm-chart {
	height:45%;
	width:100%;
}

.data-section {
	overflow:hidden;
	position:relative;
	height:23%;
}

.data-block {
	color:white;
	display:inline-block;
	float:left;
	margin-left:20px;
	margin-top:20px;
	width:30%;
	border-top:2px solid grey;
}

.data-block p {
	color:grey;
	font-size:1em;
	margin:10px 0 0 0;
	font-family:'TimesClassicText-Smallcaps-Medium';
}

.data-block h1 {
	font-weight:normal;
	font-size:5.2em;
	margin:12px 0 0 0;
	font-family:'TimesModern-Regular';
}

.data-block .bar-chart img {
	width:100%;
	height:auto;
}

.twitter-feed {
	height:25%;
	overflow-x:scroll;
	overflow-y:hidden;
	-webkit-overflow-scrolling: touch;
	background-color: #3a3a3a;
}

.twitter-feed>div {
	position:relative;
	width:1000%;
	height:100%;
}

.twitter-feed div div {
	display:inline-block;
	float:left;
	width:2.5%;
	height:75%;
	padding:10px;
	margin:6px 0px 4px 10px;
	background-color:white;
	font-family: 'TimesClassicText-Roman';
	font-size:1em;
}

.twitter-feed div div:first-child {
	margin-left:20px;
}

.twitter-feed p {
	margin:1px 1px 1px 4px;
	padding:0;
	line-height: 120%;
}

.twitter-feed p:nth-child(2) {
	font-size:0.9em;
}

#nav {
	overflow:hidden;
	position:relative;
	background-color:#242424;
	width:100%;
	height:7%;
}

#nav>div {
	position: relative;
	height:100%;
	width:220px;
	margin:0 auto;
	text-align: center;
}

.button {
	height:27px;
	margin:4px 0 0 0;
	display:inline-block;
	width:30%;
	background-color:#3a3a3a;
	color:white;
	cursor:pointer;
}

.button.selected {
	background-color:#111111;
}

.button p {
	font-family: 'TimesClassicText-Smallcaps-Medium';
	font-size:1.1em;
	margin:0 auto;
	padding:4px;
	font-weight:normal;
}

.button a {
	color:white;
	text-decoration: none;
}