html, body {
	height: 100%;
}

html, body, #wrapper {
	margin:0;
	padding:0;
}

#wrapper {
	position:relative;
	width:100%;
	height:100%;
	background-color:#242424;
}

.worm-chart {
	height:50%;
	width:100%;
}

.data-section {
	overflow:hidden;
	position:relative;
	height:25%;
}

.data-block {
	color:white;
	display:inline-block;
	float:left;
	margin-left:20px;
	margin-top:20px;
	width:30%;
	height:30%;
	border-top:2px solid grey;
}

.data-block p {
	color:grey;
	font-size:1em;
	margin:10px 0 0 0;
	font-family:'TimesClassicText-Smallcaps-Medium';
}

.data-block h1 {
	font-weight:normal;
	font-size:5.2em;
	margin:12px 0 0 0;
	font-family:'TimesModern-Regular';
}

.twitter-feed {
	height:15%;
	overflow-x:scroll;
	overflow-y:hidden;
	-webkit-overflow-scrolling: touch;
}

.twitter-feed>div {
	position:relative;
	width:1000%;
	height:100%;
}

.twitter-feed div div {
	display:inline-block;
	float:left;
	width:2.5%;
	padding:10px;
	margin:10px 0px 10px 10px;
	background-color:white;
	font-family: 'TimesClassicText-Roman';
}

.twitter-feed div div:first-child {
	margin-left:20px;
}

.twitter-feed p {
	margin:1px 1px 1px 4px;
	padding:0;
	line-height: 110%;
}

#nav {
	overflow:hidden;
	position:relative;
	background-color:grey;
	width:100%;
	height:10%;
}

#nav>div {
	position: relative;
	height:100%;
	width:50%;
	margin:0 auto;
	text-align: center;
}

.button {
	height:80%;
	margin:1% 10px 0 0;
	display:inline-block;
	width:30%;
	background-color:white;
	cursor:pointer;
}
